@import url('./font.css');

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #231f20;
  font-family: typewriter, sans-serif;
  color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGO */

.logo {
  height: 160px;
  width: 160px;
}

/* FORM */

select {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #eee;
  border: 1px solid #d9d9d9;
  padding: 0 0.7rem;
  background: url('./assets/dropdown-arrow.png') no-repeat right #231f20;
  appearance: none;
  background-position-x: 480px;
  cursor: auto;
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  padding: 1rem;
  color: #eee;
  border: 1px solid #d9d9d9;
  background-color: #231f20;
  height: 176px;
  width: 509px;
}

button {
  font-family: typewriter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #eee;
  background-color: #231f20;
  border: 1px solid #eee;
  width: 168px;
  height: 37px;
  cursor: pointer;
}

.submitButtonBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.formText {
  font-size: 14px;
  margin-bottom: 0.5rem;
  padding: 0 1.7rem;
}

.tequilaTypeDropDown {
  height: 58px;
  width: 509px;
  margin-bottom: 3rem;
}

/* RECIPE */

.recipeContainer {
  height: 440px;
  width: 508px;
  color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

.recipeHeader {
  font-weight: 700;
  margin-bottom: 1rem;
}

.ingredientBox,
.instructionsBox {
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.25rem;
}

li {
  margin: 0.25rem 0;
}

.secondRoundButtonBox {
  display: flex;
  justify-content: flex-end;
}

.shareCreationTextContainer {
  display: flex;
  justify-content: center;
}

.shareCreationTextBox {
  height: 63px;
  width: 416px;
  font-size: 14px;
  color: #ed6c23;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.instagramLink {
  color: #ed6c23;
  text-decoration: none;
}

/* FOOTER */

footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  color: #a6a6a6;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
}

/* MEDIA QUERIES */

@media screen and (width <= 768px) {
  .tequilaTypeDropDown,
  #ingredients {
    width: 400px;
  }

  select {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #eee;
    border: 1px solid #d9d9d9;
    padding: 0 0.7rem;
    background: url('./assets/dropdown-arrow.png') no-repeat right #231f20;
    appearance: none;
    background-position-x: 375px;
    cursor: auto;
  }

  textarea {
    font-size: 14px;
  }

  .recipeContainer {
    height: 350px;
    width: 440px;
    color: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
  }

  button {
    font-family: typewriter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #eee;
    background-color: #231f20;
    border: 1px solid #eee;
    width: 138px;
    height: 30px;
    cursor: pointer;
  }

  .shareCreationTextBox {
    height: 63px;
    width: 416px;
    font-size: 12px;
    color: #ed6c23;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 2rem;
  }

  footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    padding: 7px 10px;
  }
}
